.btn {
  border: none;
  font-family: inherit;
  border-radius: 5px;
  padding: 1rem;
  cursor: pointer;
  outline: none; /* Combined focus styles */
  text-decoration: none;
  &--login {
    width: 100%;
    color: var(--color-primary);
    background-color: #6358dc;
  }

  &--back,
  &--add,
  &--next,
  &--prev,
  &--edit,
  &--delete {
    padding: 0.3rem 1rem; /* Default padding */
    border-radius: 1rem; /* Default border-radius */
    color: white;
  }

  &--back,
  &--add {
    padding: 5px 1.2rem; /* Specific padding for back/add */
    border-radius: 20px;
    margin-left: 1rem;
    float: right;
  }

  &--back {
    background-color: var(--color-danger-2);
  }

  &--add {
    background-color: var(
      --color--success
    ); /* Assuming a primary color for add */
  }

  &--next,
  &--prev {
    padding: 0.2rem 1rem;
    background-color: var(--color-secondary-4);
  }

  &--edit,
  &--delete {
    padding: .8rem 1.5rem;
    color: white;
    font-size: 1.3rem;

  }
  &--edit{
    background-color: var(--color-secondary-2);
  }
  &--delete{
    background-color: var(--color-danger-2);
  }
}
