.cf-container {
    max-width: 120rem;
    background-color: var(--color-primary);
    width: 90vw; 
    position: relative;
    min-height: 90%;
    margin-inline: auto;
    border-radius: 2rem;
    box-shadow: var(--box-shadow-1);
    padding: 3rem;
    margin-top: 2rem;
  }
  .cf-container--small {
    max-width: 80rem;
  }
  