.container {
    max-width: 120rem;
    background-color: var(--color-primary);
    width: 90vw; 
    height: 90%;
    margin-inline: auto;
    border-radius: 5px;
    box-shadow: var(--box-shadow-1);
  }
  .container--small {
    max-width: 80rem;
  }
  