.container {
    max-width: 120rem;
    background-color: var(--color-primary);
    width: 90vw; 
    // height: 90%;
    min-height: 90%;
    margin-inline: auto;
    border-radius: 2rem;
    box-shadow: var(--box-shadow-1);
    padding: 3rem;
  }
  .container--small {
    max-width: 80rem;
  }
  