.nav {
    width: 100%;
    height: 10rem;
    background-color: #FFFFFF;
    box-shadow: 0px 4px 8px rgba(0,0,0,.1);
    position: absolute;
    top: 0;
    left: 0;

    &__list{   
         max-width: 100%;
         display: flex;
         height: 100%;
         justify-content: space-around;
         align-items: center;
         list-style: none;

    }

    &__link, &__link:active{
        text-decoration: none;
        color: black;
        font-size: 1.7rem;
        display: inline-block;

    }

    &__link--active::after{ 
        display: block;
        content: "";
        width: 100%;
        height: 2px;
        background-color: black;


    }
}