.tags{
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
    justify-content: center;
    gap: 1rem;
    .tag{

        background-color: red;
        padding:.3rem 1rem;
        color: white;
        border-radius: 10px;
        font-size: 1.2rem;
    }
}   
