:root{
    --color-primary : #ffff;
    --color-secondary : #F4F4F4 ;
    --color-secondary-2 :#6358dc ;
    --color-danger : red;
    --color-danger-2 : red;
    --box-shadow-1 : 0px 0px 4px rgba(0,0,0,.1);
    --color-black : black;
    --color-active : blue;
    --color-secondary-3 : rgb(202, 202, 202);
}