@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
:root {
  --color-primary: #ffff;
  --color-secondary: #F4F4F4 ;
  --color-secondary-2:#6358dc ;
  --color-danger: red;
  --color-danger-2: red;
  --box-shadow-1: 0px 0px 4px rgba(0,0,0,.1);
  --color-black: black;
  --color-active: blue;
  --color-secondary-3: rgb(202, 202, 202);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  height: 100vh;
  width: 100vw;
  font-family: "Poppins", sans-serif;
  background-color: var(--color-secondary);
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 10rem);
}

.form {
  min-width: 30rem;
  max-width: 50rem;
  width: 50vw;
  padding: 2rem;
  border-radius: 10px;
  background-color: var(--color-primary);
}
.form__divider {
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  padding-inline: 5px;
  position: relative;
}
.form__divider::after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  position: absolute;
  background-color: rgb(150, 150, 150);
  top: 50%;
  left: 0;
  z-index: 1;
}
.form__divider-content {
  position: relative;
  z-index: 2;
  width: 8rem;
  background-color: white;
  text-align: center;
}
.form__group {
  margin-top: 1.5rem;
}
.form__group--icon-container {
  background-color: #ececec;
  border-radius: 10px;
  padding: 0 1rem;
  display: flex;
  align-items: center;
  gap: 2rem;
}
.form__group .input-container {
  flex-grow: 1;
  position: relative;
}
.form__group .input-container label {
  position: absolute;
}
.form__group .input-container input {
  width: 100%;
  border: none;
  font-family: inherit;
  padding: 0.5rem;
  border-radius: 5px;
  background-color: #ececec;
}
.form__group .input-container input:focus {
  outline: none;
}
.form__group .input-container i {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

.social {
  width: 100%;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  padding: 1rem;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  gap: 0.8rem;
  align-items: center;
}
.social:hover {
  cursor: pointer;
}

.remember-me {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.ml-1 {
  margin-left: 1rem;
}

.mt-1 {
  margin-top: 1rem;
}

.mt-2 {
  margin-top: 2rem;
}

.mt-3 {
  margin-top: 3rem;
}

.mt-4 {
  margin-top: 4rem;
}

.title {
  font-size: 3rem;
  color: rgb(59, 59, 59);
}

.title--highlighted {
  font-size: 3rem;
  font-weight: 1000;
  color: var(--color-secondary-2);
}

.icon {
  width: 2.4rem;
  height: 2.4rem;
}
.icon--google {
  width: 3rem;
  height: 3rem;
}

.link--active {
  color: blue !important;
}

.btn, .btn:active {
  width: 100%;
  border: none;
  font-family: inherit;
  color: var(--color-primary);
  background-color: #6358dc;
  border-radius: 5px;
  padding: 1rem;
}

.btn:focus {
  outline: none;
}

.text-center {
  text-align: center;
}

.text--samll {
  font-size: 1.4rem !important;
}

.nav {
  width: 100%;
  height: 10rem;
  background-color: var(--color-primary);
  box-shadow: var(--box-shadow-1);
}
.nav__list {
  max-width: 100%;
  display: flex;
  height: 100%;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}
.nav__link, .nav__link:active {
  text-decoration: none;
  color: black;
  font-size: 1.7rem;
  display: inline-block;
}
.nav__link--active::after {
  display: block;
  content: "";
  width: 100%;
  height: 2px;
  background-color: black;
}

.errors {
  margin-top: 2rem;
  font-size: 1.4rem;
  text-align: center;
  color: var(--color-danger);
}

.container {
  max-width: 120rem;
  background-color: var(--color-primary);
  width: 90vw;
  height: 90%;
  margin-inline: auto;
  border-radius: 2rem;
  box-shadow: var(--box-shadow-1);
  padding: 3rem;
}

.container--small {
  max-width: 80rem;
}

.table {
  width: 100%;
  margin-top: 2rem;
  border-spacing: 0 2.5rem;
}
.table__thead tr {
  text-align: left;
}
.table__thead tr th {
  color: gray;
  opacity: 0.8;
}
.table__row {
  position: relative;
  padding-bottom: 1rem;
}
.table__row::after {
  content: "";
  display: block;
  position: absolute;
  bottom: -10px;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: black;
  opacity: 0.1;
}

.pagination {
  display: flex;
  margin-top: 1rem;
  justify-self: center;
  gap: 1rem;
}
.pagination .page {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  width: 2.4rem;
  height: 2.4rem;
  border-radius: 5px;
  border: 1.5px solid var(--color-secondary-3);
  text-align: center;
  font-size: 1.4rem;
}
.pagination .page--active {
  border-color: var(--color-secondary-2);
}
.pagination .page--disabled {
  border-color: var(--color-secondary-3);
  background-color: var(--color-secondary-3);
  color: white;
}

.tag {
  background-color: red;
  padding: 0.3rem 1rem;
  color: white;
  border-radius: 10px;
  font-size: 1.2rem;
}

/*# sourceMappingURL=main.css.map */
